.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.portfolio-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
