@media only screen and (max-width: 800px) {
    .risk-scale-btn{
        width: 48px;
        height: 48px;
        font-size: 22px;
    }

    .continue-btn {
        width: 83px;
        height: 48px;
        font-size: 12px;
    }

    .risk-scale-label {
        width: 560px;
    }

    h3, label, td {
        font-size: 20px;
    }

    th,.portfolio-tbody td {
        font-size: 14px;
    }

    .portfolio-header, form.portfolio-form .recommendation {
        margin-left: 15px;
    }

    table.portfolio-table {
        width: 100%;
    }
    .portfolio-thead > tr, .portfolio-tbody > tr, .portfolio-tbody td{
        width: 100%;
    }

    .form-body {
        width: 100%;
    }

    #high {
        margin-right: 55px;
    }
}

@media only screen and (max-width: 640px) {
    .risk-scale-btn{
        width: 32px;
        height: 32px;
        font-size: 14px;
    }

    button.continue-btn {
        width: 40px;
        height: 32px;
        font-size: 8px;
    }

    button#rebalance-btn {
        width: 64px;
        height: 32px;
        font-size: 10px;
    }

    .risk-scale-label {
        width: 410px;
    }

    h1 {
        font-size: 16px;
    }


    h3, label {
        font-size: 16px;
    }

    h2, th {
        font-size: 13px;
    }

    td, li {
        font-size: 12px;
    }


    #high {
        margin-right: 60px;
    }
}

@media only screen and (max-width: 540px) {
    .risk-scale-btn{
        width: 25px;
        height: 25px;
        font-size: 10px;
        border: 1px solid black;
    }

    button.continue-btn {
        width: 44px;
        height: 25px;
        font-size: 7px;
        border: 1px solid black;
    }

    button#rebalance-btn {
        width: 54px;
        height: 28px;
        font-size: 8px;
        border: 1px solid black;
    }

    .risk-scale-label {
        width: 300px;
    }

    h3, label, td{
        font-size: 10px;
    }

    th, .portfolio-tbody td {
        font-size: 10px;
    }

    #high{
        margin-right: 10px;
    }

}

@media only screen and (max-width: 350px) {
    .risk-scale-btn{
        width: 17px;
        height: 17px;
        font-size: 6px;
        border: 1px solid black;
    }

    button.continue-btn  {
        width: 30px;
        height: 17px;
        font-size: 4px;
        border: 1px solid black;
    }

    button#rebalance-btn {
        width: 40px;
        height: 20px;
        font-size: 5px;
    }

    .risk-scale-label {
        width: 220px;
    }

    h3, label, td{
        font-size: 8px;
    }

    th, .portfolio-tbody td {
        font-size: 7px;
    }

    ul {
        margin-top: 2px;
    }

    #high {
        margin-right: 10px;
    }

}
